<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for("static", filename="styles.css")}}">
    <title>Temp Monitor</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="..\static\script.js"></script>
</head>
<body>
    <div>
      <canvas id="temperatureChart" ></canvas>
    </div>
    <div class="indicators">
        <div class="chart-wrapper">
            <!-- Top labels -->
            <div class="top-labels">
              <p >Max</p>
              <p >Min</p>
              <p >Avg</p>
              <p >Value</p>
            </div>
        
            <!-- Bar indicators -->
            <ul class="vertical-bars">
              <li style="height: 70%;"></li>
              <li style="height: 50%;"></li>
              <li style="height: 60%;"></li>
              <li style="height: 90%;"></li>
            </ul>
        
            <!-- Bottom labels -->
            <div class="bottom-labels">
              <p id="max">Max</p>
              <p id="min">Min</p>
              <p id="avg">Avg</p>
              <p id="value">Value</p>
            </div>
        </div>
        <div class="circle-container">
            <div class="circle">
              <!-- Input field inside the circle -->
              <input type="number" id="percentageInput" value="60" max="100" min="0" />
              <!-- Button inside the circle -->
              <button switchstate="on" onclick="toggleManual()">Auto</button>
            </div>
        </div>
        <div class="subsection">
            <button>Reset</button>
        </div>
      </div>
    </div>
</body>
</html>